/*fonts*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);

html,
body {
    counter-reset: section;
    text-align: center;
}

.container {
    position: relative;
    top: 100px;
    background: #f37a09;
    padding: 70px;

}

.container h1,
.container span {
    font-family: "Pt Sans", helvetica, sans-serif;
}

.container h1 {
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 10px;
}

form {
    margin-top: 25px;
    display: inline-block;
}

input {
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 220px;
    box-sizing: border-box;
    padding: 0 18px;
}